.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.mat-expansion-panel-header {
  font-size: 16px;
  padding-left: 16px;
}

.mat-expansion-panel-body {
  padding-left: 16px !important;
}

.content {
  padding: 30px;
}
