<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: (XSmall$ | async) === false }"
    fixedInViewport="false"
    [attr.role]="(XSmall$ | async) ? 'dialog' : 'navigation'"
    [mode]="(XSmall$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">
      <div>
        Jason
      </div>
      <div class="spacer"></div>
      <div>
        <button mat-icon-button>
          <mat-icon *ngIf="XSmall$ | async">person</mat-icon>
          <span *ngIf="(XSmall$ | async) === false">Jason</span>
        </button>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/shops">Dashboard</a>
    </mat-nav-list>
    <mat-expansion-panel>
      <mat-expansion-panel-header
        [collapsedHeight]="'48px'"
        [expandedHeight]="'48px'"
      >
        <mat-panel-title>Orders</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item href="#">Orders</a>
        <a mat-list-item href="#">Shopping List</a>
        <a mat-list-item href="#">Cooking List</a>
        <a mat-list-item href="#">Delivery List</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header
        [collapsedHeight]="'48px'"
        [expandedHeight]="'48px'"
      >
        <mat-panel-title>Configuration</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item href="#">Menus</a>
        <a mat-list-item href="#">Ingredients</a>
        <a mat-list-item routerLink="/shops">Shops</a>
        <a
          mat-list-item
          routerLink="/units"
          routerLinkActive="router-link-active"
          >Units</a
        >
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="XSmall$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div *ngIf="(XSmall$ | async) === false">
        <button mat-button routerLink="/">Dashboard</button>
        <button mat-button [matMenuTriggerFor]="ordersMenu">Orders</button>
        <mat-menu #ordersMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>ballot</mat-icon>
            <span>Orders</span>
          </button>
          <button mat-menu-item>
            <mat-icon>shopping_basket</mat-icon>
            <span>Shopping List</span>
          </button>
          <button mat-menu-item>
            <mat-icon>list_alt</mat-icon>
            <span>Cooking List</span>
          </button>
          <button mat-menu-item>
            <mat-icon>local_shipping</mat-icon>
            <span>Delivery List</span>
          </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="settingsMenu">
          Configuration
        </button>
        <mat-menu #settingsMenu="matMenu">
          <button mat-menu-item routerLink="/menus">
            <mat-icon>restaurant</mat-icon>
            <span>Menus</span>
          </button>
          <button mat-menu-item routerLink="/ingredients">
            <mat-icon>fastfood</mat-icon>
            <span>Ingredients</span>
          </button>
          <button mat-menu-item routerLink="/shops">
            <mat-icon>store</mat-icon>
            <span>Shops</span>
          </button>
          <button mat-menu-item routerLink="/units">
            <mat-icon>font_download</mat-icon>
            <span>Units</span>
          </button>
        </mat-menu>
      </div>
      <div class="spacer"></div>
      <div>
        <button mat-icon-button>
          <mat-icon *ngIf="XSmall$ | async">person</mat-icon>
          <span *ngIf="(XSmall$ | async) === false">Jason</span>
        </button>
      </div>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
