<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <mat-card-content>
    <form [formGroup]="masterForm" (submit)="onSave()">
      <mat-form-field>
        <input
          matInput
          name="name"
          type="text"
          placeholder="Menu name"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="portions"
          type="number"
          placeholder="Portions"
          formControlName="portions"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="description"
          type="text"
          placeholder="Description of menu (optional)"
          formControlName="description"
        />
      </mat-form-field>


      <mat-card-actions>
        <a mat-raised-button href="/menus">Cancel</a>
        <button mat-raised-button color="accent" type="submit">
          Save menu
        </button>
      </mat-card-actions>
    </form>

    <form [formGroup]="detailForm">
      <ng-container formArrayName="ingredients">
        <ng-container *ngFor="let ingredientForm of ingredients.controls; let i = index">
            <div class="ingredient-form-row" [formGroup]="ingredientForm">
                <mat-form-field appearance="fill">
                  <input matInput
                          formControlName="name"
                          placeholder="Ingredient name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <input matInput
                    formControlName="unitName"
                    placeholder="Unit name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <input matInput
                    formControlName="quantity"
                    placeholder="Quantity">
                </mat-form-field>
                <mat-icon class="delete-btn" (click)="deleteIngredient(i)">
                    delete_forever</mat-icon>
            </div>
        </ng-container>
      </ng-container>
      <button mat-mini-fab (click)="addIngredient('', '', 0)">
        <mat-icon class="add-course-btn">add</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
