<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <mat-card-content>
    <form [formGroup]="form" (submit)="onSave()">
      <mat-form-field>
        <input
          matInput
          name="name"
          type="text"
          placeholder="Menu name"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="portions"
          type="number"
          placeholder="Portions"
          formControlName="portions"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="description"
          type="text"
          placeholder="Description of menu (optional)"
          formControlName="description"
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Ingredient </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="unitName">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let element"> {{element.unitName}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actionsColumn"> Actions </th>
          <td mat-cell *matCellDef="let element">
            <a mat-button>
              <mat-icon>edit</mat-icon>
            </a>
            <a mat-button>
              <mat-icon color="warn">delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-card-actions>
        <a mat-raised-button href="/menus">Cancel</a>
        <button mat-raised-button color="accent" type="submit">
          Save menu
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
