mat-form-field {
  width: 100%;
}

mat-form-field.detail {
  width: auto;
}

mat-spinner {
  margin: auto;
}

mat-card-actions {
  text-align: right;
}

table {
  width: 100%;
}

.actionsColumn {
  width: 130px;
}
