<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input
        #emailInput="ngModel"
        matInput
        ngModel
        name="email"
        type="text"
        placeholder="Email"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid">
        Please enter a valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        #passwordInput="ngModel"
        matInput
        ngModel
        name="password"
        type="password"
        placeholder="Password"
        required
        password
      />
      <mat-error *ngIf="passwordInput.invalid">
        Please enter a valid password
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </form>
</mat-card>
