<h1 mat-dialog-title>Edit menu</h1>
<div mat-dialog-content>
  <mat-form-field>
    <!-- <mat-label>Ingredient</mat-label> -->
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <!-- <mat-label>Quantity</mat-label> -->
    <input matInput [(ngModel)]="data.quantity">
  </mat-form-field>
  <mat-form-field>
    <!-- <mat-label>Unit</mat-label> -->
    <input matInput [(ngModel)]="data.unitName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
