<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <mat-card-content>
    <form [formGroup]="menuForm" (submit)="onSave()">
      <mat-form-field>
        <input
          matInput
          name="name"
          type="text"
          placeholder="Menu name"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="portions"
          type="number"
          placeholder="Portions"
          formControlName="portions"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          name="description"
          type="text"
          placeholder="Description of menu (optional)"
          formControlName="description"
        />
      </mat-form-field>

      <button mat-stroked-button (click)="addIngredient('', '', 0)">
        Add Ingredient
      </button>

      <table mat-table [dataSource]="dataSource" formArrayName="ingredients">
        <!-- Row definitions -->
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayColumns;"></tr>

        <!-- Column definitions -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Ingredient name </th>
          <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
            <input
              matInput
              type="text"
              formControlName="name"
              placeholder="Ingredient name"
              #ingredientInput
              (focus)="onFocusIngredient(ingredientInput)"
              [matAutocomplete]="autoIngredients">
              <mat-autocomplete #autoIngredients="matAutocomplete">
                <mat-option *ngFor="let option of filteredIngredients | async" [value]="option.name">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
          </td>
        </ng-container>

        <ng-container matColumnDef="unitName">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
            <input
            matInput
            type="text"
            formControlName="unitName"
            placeholder="Unit"
            #unitInput
            (focus)="onFocusUnit(unitInput)"
            [matAutocomplete]="autoUnits">
            <mat-autocomplete #autoUnits="matAutocomplete">
              <mat-optgroup *ngFor="let group of filteredUnits | async | groupByUnitType" [label]="group.type">
                <mat-option *ngFor="let option of group.units" [value]="option.name">
                  {{option.name}}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
            <input
              matInput
              type="number"
              formControlName="quantity"
              placeholder="Quantity">
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
            <a mat-button (click)="deleteIngredient(index)">
              <mat-icon color="warn">delete</mat-icon>
            </a>
          </td>

        </ng-container>

      </table>

      <mat-card-actions>
        <a mat-raised-button href="/menus">Cancel</a>
        <button mat-raised-button color="accent" type="submit">
          Save menu
        </button>
      </mat-card-actions>
    </form>

  </mat-card-content>
</mat-card>
